<% include ./partials/header.ejs %>
<% include ./partials/flash.ejs %>

  <div class="w-full min-h-screen bg-zinc-900 text-white py-5">
      <div class="nav flex justify-between items-center px-4">
        <h3 class="text-lg"><%= user.username %></h3>
        <div class="icons flex gap-5">
          <a href="/upload"><i class="text-[1.4rem] ri-add-box-line"></i></a>
          <i class="text-[1.4rem] ri-menu-line"></i>
        </div>
      </div>
      <div class="flex justify-between items-center px-5 mt-8">
        <div class="w-12 aspect-square bg-sky-100 rounded-full overflow-hidden">
          <img class="w-full h-full object-cover" src="/images/uploads/<%= user.profilePicture %>" alt="">
        </div>
        <div class="stats flex gap-2 text-sm items-center justify-between">
          <div class="flex flex-col items-center justify-center">
            <h3><%= user.posts.length %></h3>
            <h4>Posts</h4>
          </div>
          <div class="flex flex-col items-center justify-center">
            <h3><%= user.followers.length %></h3>
            <h4>Followers</h4>
          </div>
          <div class="flex flex-col items-center justify-center">
            <h3><%= user.following.length %></h3>
            <h4>Following</h4>
          </div>
        </div>
      </div>
      <div class="dets px-5 mt-5">
        <h3 class="text-lg mb-1"><%= user.name %></h3>
        <p class="text-xs tracking-tight opacity-80"><%= user.bio ?? "You have not set anything yet, (click edit profile to set)" %></p>
      </div>
      <div class="px-5 mt-5">
        <a class="px-5 py-2 bg-zinc-800 text-sm rounded-md" href="/edit">Edit Profile</a>
      </div>
      <div class="posts w-full flex justify-between flex-wrap gap-[2px] py-2 mt-5">
        <% if(user.posts.length>0){ %>
          <% user.posts.reverse().forEach(post=>{ %>
            <div class="post w-[32.5%] aspect-square bg-sky-100">
              <img class="w-full h-full object-cover" src="/images/uploads/<%= post.image %>" alt="">
            </div>
          <% }) %>
        <% } else { %>
          <div class="w-full flex justify-center items-center min-h-[20vh]">
            <small class="opacity-50">no posts yet.</small>
          </div>
        <% } %>
      </div>
  </div>
<% include ./partials/footer.ejs %>